



.backgroundlive-root .bg-layer.carruagem #magic-portal {
  position: absolute;
  display: block;
  
  top: 24%;
  left: 55%;
  width: 20%;
  height: 35%;
  min-width: 100px;
  min-height: 150px;
  z-index: 1;
  pointer-events: auto;
  cursor: pointer;
  text-decoration: none;
  border-radius: 45% / 50%;
  overflow: visible;
}


.backgroundlive-root .bg-layer.carruagem #magic-portal canvas {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.backgroundlive-root .bg-layer.carruagem #magic-portal:hover {
  filter: brightness(1.3);
}


.backgroundlive-root .bg-layer.carruagem #magic-portal::after {
  display: none;
}


.backgroundlive-root[data-mode="simple"] .bg-layer.carruagem #magic-portal {
  display: none !important;
}



